<section class="giscus mx-auto mt-10 w-full"></section>
<script src="https://giscus.app/client.js"
        data-repo="zzw4257/zzw4257.cn"
        data-repo-id="R_kgDOM4gkfw"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOM4gkf84CjHEe"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>