---
import Footer from '@components/Footer.astro'
import PostComments from '@components/PostComments.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <main id="main-content">
    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 max-w-3xl prose-pre:border-[1px] prose-pre:border-skin-line prose-pre:border-solid"
    >
    </article>
    <PostComments />
  </main>
  <Footer />
</Layout>